 a{
    
    color: black;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    margin: 20px;
}
img{
    max-width: 300px;
}
.flex-container {
    display: flex; 
 }
 div{
    background-color: rgb(226, 249, 249);
    border: solid black 2px;
    flex: 1;
    
    margin: 20px;
 }